name: Hello World
on: workflow_dispatch
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: hello
        run: |
          echo "The variable is ${{ vars.username }}"
          echo "This is first line"
            echo "This is Second"
          pwd
