name: Hello World
on: push
jobs:
   build:
      runs-on: ubuntu-latest
      steps:
        - name: hello
          run: |
             echo "This is first line"
             echo "This is Second {{ pwd }}"
             echo pwd
             
   
